<h1>Instance <%=@instance.id%></h1>

<h3>Input Model</h3>
<textarea class="editor" data-read-only="true" data-mime-type="text/x-hutn"><%=@instance.input_model%></textarea>

<h3>Output Model</h3>
<textarea class="editor" data-read-only="true" data-mime-type="text/x-hutn"><%=@instance.output_model%></textarea>

